header {
   border-bottom: 1px solid #efefef;
   margin-bottom: 2em;
   padding: 2em 0 1em;
}
footer {
   border-top: 1px solid #efefef;
   margin-top: 2em;
   padding: 1em 0 2em;
   button {
      float: right;
   }
}
img {
   float: left;
   margin-right: 1em;
}
main {
   width: 100%;
}