/* UIkit */
@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";
@import "../../node_modules/uikit/src/scss/uikit-theme";

ul {
   list-style-type: none;
}

.uk-pagination {
   margin: 1em auto 3em;
   width: fit-content;
}
